<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dart to MIPS32 Compiler</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen">
    <div class="h-full flex flex-col">
        <!-- Header -->
        <div class="h-16 bg-white border-b border-gray-200 flex items-center justify-between px-4">
            <div class="text-gray-800 font-bold text-lg">Dart2MIPS32 Compiler</div>
            <div class="flex items-center gap-1">
                <div class="border border-gray-400 px-2 h-6 rounded hover:bg-gray-800 hover:text-white cursor-pointer">Save dart to file</div>
                <div class="border border-gray-400 px-2 h-6 rounded hover:bg-gray-800 hover:text-white cursor-pointer">Save MIPS to file</div>
            </div>
        </div>
        <!-- Content -->
        <div class="flex-1 flex">
            <!-- Sidebar -->
            <div class="w-1/5 h-full bg-gray-200 border-r border-gray-300 flex flex-col">
                <div class="p-4 border-b border-gray-300 font-bold">Open Files</div>
                <div class="flex-1 p-4 border-b border-gray-300 overflow-y-auto">
                    <div class="cursor-pointer mb-2 hover:text-blue-600">main.dart</div>
                    <div class="cursor-pointer mb-2 hover:text-blue-600">new.dart</div>
                    <div class="cursor-pointer mb-2 hover:text-blue-600">settings.dart</div>
                </div>
                <div class="p-4 font-bold">Explorer</div>
            </div>
            <!-- Editor -->
            <div class="w-3/5 h-full p-4">
                <textarea class="resize-none rounded-lg w-full h-full border border-gray-300 p-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline font-mono text-sm" placeholder="Write dart code here or open from file"></textarea>
            </div>
            <!-- Output -->
            <div class="w-1/5 h-full bg-gray-200 border-l border-gray-300 p-4 flex flex-col">
                <div class="font-bold mb-2 leading-tight">Output</div>
                <div class="border h-5/6 border-gray-300 text-gray-700 leading-tight focus:outline-none focus:shadow-outline overflow-y-auto"></div>
                <div class="flex my-3 justify-center items-center">
                  <button class="border border-gray-400 text-gray-900 bg-gray-300 px-4 rounded hover:bg-gray-800 cursor-pointer hover:text-gray-100">Compile</button>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>
