<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dart to MIPS32 Compiler</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-900 h-screen">
    <div class="h-full flex flex-col">
        <!-- Header -->
        <div class="h-16 bg-gray-800 border-b border-gray-700 flex items-center justify-between px-4">
            <div class="text-white font-bold text-lg">
                <button id="toggler">x</button>
                Dart2MIPS32 Compiler
            </div>
            <div class="flex items-center gap-1">
                <div class="border border-gray-600 px-2 h-6 rounded hover:bg-gray-700 hover:text-white cursor-pointer">Save dart to file</div>
                <div class="border border-gray-600 px-2 h-6 rounded hover:bg-gray-700 hover:text-white cursor-pointer">Save MIPS to file</div>
            </div>
        </div>
        <!-- Content -->
        <div class="flex-1 flex">
            <!-- Sidebar -->
            <div class="w-1/5 h-full bg-gray-700 border-r border-gray-600 flex flex-col" id="sidebar">
                <div class="p-4 border-b border-gray-600 font-bold text-white">Open Files</div>
                <div class="flex-1 p-4 border-b border-gray-600 overflow-y-auto">
                    <div class="cursor-pointer mb-2 hover:text-blue-300 text-white">main.dart</div>
                    <div class="cursor-pointer mb-2 hover:text-blue-300 text-white">new.dart</div>
                    <div class="cursor-pointer mb-2 hover:text-blue-300 text-white">settings.dart</div>
                </div>
                <div class="p-4 font-bold text-white">Explorer</div>
            </div>
            <!-- Editor -->
            <div class="w-3/5 h-full p-4" id="editor-console">
                <textarea class="resize-none rounded-sm w-full h-3/4 border border-gray-400 p-2 text-white leading-tight focus:outline-none focus:shadow-outline font-mono text-sm bg-gray-900" placeholder="Write dart code here or open from file"></textarea>
                <textarea class="resize-none rounded-sm w-full h-1/4 border border-gray-600 p-2 text-white leading-tight focus:outline-none focus:shadow-outline font-mono text-sm bg-gray-900" placeholder=">>> "></textarea>
            </div>
            <!-- Output -->
            <div class="w-1/5 h-full bg-gray-700 border-l border-gray-600 p-4 flex flex-col" id="output">
                <div class="font-bold mb-2 leading-tight text-white">Output</div>
                <div class="border h-5/6 border-gray-600 text-white leading-tight focus:outline-none focus:shadow-outline overflow-y-auto bg-gray-900"></div>
                <div class="flex my-3 justify-center items-center">
                  <button class="border border-gray-600 text-white bg-gray-800 px-4 rounded hover:bg-gray-600 cursor-pointer hover:text-white">Compile</button>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>
